In [1]:
import pandas as pd
import os
file_paths = [
    '/content/data_1.csv',
    '/content/data_2.csv',
    '/content/data_3.csv',
    '/content/data_4.csv'
]

In [2]:
all_sales_data = pd.concat([pd.read_csv(file) for file in file_paths])

In [4]:
all_sales_data.dropna(subset=['Date', 'Category', 'Quantity', 'Price'], inplace=True)
all_sales_data['Discount'].fillna(0, inplace=True)
all_sales_data['Net_Price'] = all_sales_data['Price'] * (1 - all_sales_data['Discount'])
all_sales_data['Total_Revenue'] = all_sales_data['Quantity'] * all_sales_data['Net_Price']
print(all_sales_data.head())

         Date   Product     Category  Quantity  Price  Discount  Net_Price  \
0  2024-08-01  ProductA  Electronics      10.0  200.0      0.05      190.0
1  2024-08-01  ProductB         Home       5.0  150.0      0.10      135.0
2  2024-08-02  ProductA  Electronics       7.0  200.0      0.00      200.0
3  2024-08-02  ProductC         Home       3.0  100.0      0.00      100.0
4  2024-08-03  ProductD    Furniture       4.0  300.0      0.15      255.0

   Total_Revenue
0         1900.0
1          675.0
2         1400.0
3          300.0
4         1020.0

In [8]:
summary = all_sales_data.groupby('Product').agg({
    'Quantity': 'sum',
    'Total_Revenue': 'sum'
}).reset_index()
print(all_sales_data.head())

         Date   Product     Category  Quantity  Price  Discount  Net_Price  \
0  2024-08-01  ProductA  Electronics      10.0  200.0      0.05      190.0
1  2024-08-01  ProductB         Home       5.0  150.0      0.10      135.0
2  2024-08-02  ProductA  Electronics       7.0  200.0      0.00      200.0
3  2024-08-02  ProductC         Home       3.0  100.0      0.00      100.0
4  2024-08-03  ProductD    Furniture       4.0  300.0      0.15      255.0

   Total_Revenue
0         1900.0
1          675.0
2         1400.0
3          300.0
4         1020.0

In [9]:
output_path = os.path.join('/content/data_1.csv', '/content/data_2.csv','/content/data_3.csv','/content/sales_data.xlsx.csv')
summary.to_csv(output_path, index=False)